{% extends 'home_page.html' %}
{% load static %}
{% block sesion %}
    <div class="right-button">
        <ul>
            <li><a class="sign_up" href="{%url 'cerrar_sesion'  %}">Cerrar Sesión</a></li>
        </ul>
    </div>
{% endblock %}
{% block principal %}
    <!--================Home Banner Area =================-->
    <section class="home_banner_area">
        <div class="banner_inner d-flex align-items-center">
            <div class="overlay"></div>
            <div class="container">
                
            <center>    
            <h1 style="color:white;">REGISTRO DE NUEVO CLIENTE</h1>
            </center>
            </div>
        </div>
    </section>
    <!--================End Home Banner Area =================-->

    <!--================Service  Area =================-->
    <section class="service-area area-padding">
        <div class="container">
            <div class="card light">
                            <div class="card-body" style="color: black;">
            <form method="POST">{% csrf_token %}
                                    <div class="mt-10">
                                        {{f.as_p}}
                                    </div>
                                    <div class="mt-10">
                                        {{fc.as_p}}
                                    </div>
                                    <center>
                                    <div class="button-group-area mt-10">
                                        <button type="submit" class="genric-btn success circle">Ingresar</button>
                                        <a href="{%url 'cliente' %}" class="genric-btn danger circle">Regresar</a>
                                    </div>
                                    </center>
                                </form>
            </div>
        </div>
            <div class="row">
                
            </div>
        </div>
    </section>
    <!--================Service Area end =================-->

    {% endblock %}
    {% block cosasadicionales %}
    <div id="container">
    </div>
    {% endblock %}