{% extends 'home_page.html' %}
{% load static %}
{% block sesion %}
    <div class="right-button">
        <ul>
            <li><a class="sign_up" href="{%url 'cerrar_sesion'  %}">Cerrar Sesión</a></li>
        </ul>
    </div>
{% endblock %}
{% block principal %}
    <!--================Home Banner Area =================-->
    <section class="home_banner_area">
        <div class="banner_inner d-flex align-items-center">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 offset-lg-6 col-xl-5 offset-xl-7">
                        
                        <div class="card">
                            <div class="card-body">
                            <h3>Inicio de Sesión</h3>
                                <form method="POST">{% csrf_token %}
                                    <div class="mt-10">
                                        {{formulario.as_p}}
                                    </div>
                                    <center>
                                    <div class="button-group-area mt-10">
                                        <button type="submit" class="genric-btn success circle">Ingresar</button>
                                        <a href="{%url 'home_page' %}" class="genric-btn danger circle">Regresar</a>
                                    </div>
                                    </center>
                                </form>
                            </div>
                        </div>


                    </div>

                </div>
            </div>
        </div>
    </section>
    <!--================End Home Banner Area =================-->
{% endblock %}